p {
    font-family: 'Open Sans', sans-serif;
}
.box { 
    margin: 0;
    width: 100%;
    height: 210px;
    color : #FFFFFF;
}
h1 {
    margin-top:107px;
    margin-left: 498px;
    display: inline-block ;
    font-family: 'Raleway', sans-serif;
    color:#212121;
    text-align: center;
    font-size: 36px;
}
span {
    text-align: left;
    font-family: 'OpenSans','AdobeInvisFont','MyriadPro-Regular';
    color: #86878B;
    margin-top: 30px;
    margin-left: 520px;
    margin-right: 522px;
    font-size: 14px;
    display: inline-block ;
}
hr { 
    margin-top: 31px;
    width: 64px;
    height: 2px;
    background:orange;
}
.block-left{
   width: 350px;
   display: inline-block;
   margin-left: 143px;
   margin-top: 115px;
}
.block-center{
    width: 350px;
    display: inline-block;
    margin-top: 115px;
}
.block-right{
    width: 350px;
    display: inline-block;
    margin-right: 143px;
    margin-top: 115px;
}
h2{
    font-size: 20px;
    text-align: center;
    font-family: 'OpenSans-Bold','AdobeInvisFont','MyriadPro-Regular';
    color: #333333;
    padding-left: 85px;
    padding-right: 84px;
    padding-bottom: 25px;
    padding-top: 29px;
}
p{
    color: #86878B;
    font-size: 14px;
    text-align: center;
}
.circle-center{
    width: 70px;
    height: 70px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    border: 2px solid orange;
    margin-left: 140px;
    text-align: center;
}
.circle-right{
    width: 70px;
    height: 70px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    border: 2px solid orange;
    margin-left: 140px;
    text-align: center;
}
.circle-left{
    width: 70px;
    height: 70px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    border: 2px solid orange;
    margin-left: 140px;
    text-align: center;
}
.background{
    width: 19px;
    height: 28px;
    padding-top: 21px;
 }
.background-centre{
    width: 35px;
    height: 21px;
    padding-top:25px;
}
.background-right{
   width: 17px;
   height: 31px;
   padding-top:20px;
}